
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --cor-main: #191A19;
  --cor-sec:  #1E5128;
  --cor-ter:  #4E9F3D;
  --cor-qua:  #D8E9A8;
}

.container {
  background-color:var var(--cor-main);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  max-width: 400px;
  /* height: 100px; */
  text-align: center;
  color: whitesmoke;
  background-color: var(--cor-main);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px;
  margin-bottom: 7px;
}

#cadastro,
#consulta,
#resultado {
  background-color: var(--cor-ter);
  width: 100%;
  max-width: 400px;
  padding: 7px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#consulta {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#cadastro > label {
  display: block;
  text-align: center;
  color: whitesmoke;
}

input[type='text'],
input[type='number'],
input[type='submit']{
  display: block;
  width: 100%;
  max-width: 350px;
  /* height: 5vh; */
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 7px;
  margin: 7px;
}

input[type='button'],
input[type='submit'] {
  background-color: var(--cor-ter);
  color: #fff;
  border-radius: 24px;
  padding: 7px;
  margin: 7px;
  max-width: 200px;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid black;
  cursor: pointer;
}

input[type='button']:hover,
input[type='submit']:hover {
  background-color: #fff;
  color: var(--cor-ter);
  transition: .2s;
  border: 1px solid transparent;
}




#consulta {
  background-color: var(--cor-qua);
}

#resultado {
  background-color: var(--cor-main);
  color: whitesmoke
}